In [15]:
import pandas as pd
import ipaddress

In [19]:
benign_data = pd.read_csv('benign_domain_list.csv', names=['url'])
mal_data = pd.read_csv('Malicious_URLs.csv')
mixed_data = pd.read_csv('mixed_domain_list.csv', names=['url'])
tranco_rank_data = pd.read_csv("tranco_full_list_for_ranking.csv", names=['url'])

In [ ]:
remove = ['http://', 'ftp://','www.']
mal_data = mal_data.rename(columns={'Indicator': 'url'})
for string in remove:
    p_data['url'] = phish_data['url'].str.replace(string, '')

In [20]:
def extract_domain(url):
    try:
        ipaddress.ip_address(url)
        return url
    except ValueError:
        return '.'.join(url.split('.')[-2:-1])
    
def extract_tld(url):
    try:
        ipaddress.ip_address(url)
        return url
    except ValueError:
        return url.split('.')[-1]

In [21]:
benign_data['domain'] = benign_data['url'].apply(extract_domain)
benign_data['tld'] = benign_data['url'].apply(extract_tld)
benign_data

                 url      domain  tld
0         google.com      google  com
1       facebook.com    facebook  com
2       a-msedge.net    a-msedge  net
3        youtube.com     youtube  com
4      microsoft.com   microsoft  com
...              ...         ...  ...
4958    bethesda.net    bethesda  net
4959  shopifysvc.com  shopifysvc  com
4960      instana.io     instana   io
4961       oanda.com       oanda  com
4962  skyscanner.com  skyscanner  com

[4963 rows x 3 columns]

In [6]:
mal_data

                                                     url
0                              https://ervashipping.com/
1        http://www.gabung-grupmabarcimbrut.duckdns.org/
2              http://republik-jancuk.000webhostapp.com/
3             https://www.chet-notnkt8-grup.duckdns.org/
4      http://veromcertiom.ddns.net/connexion/certico...
...                                                  ...
10624      http://sites.google.com/site/habbotuttogratis
10625       http://www.habbocreditosparati.blogspot.com/
10626  http://creditiperhabbogratissicuro100.blogspot...
10627  http://mundovirtualhabbo.blogspot.com/2009_01_...
10628  http://aijcs.blogspot.com/2005/03/colourful-li...

[10629 rows x 1 columns]

In [22]:
mixed_data

                                     url
0                             goodrx.com
1                         weather.com.cn
2                         draftkings.com
3                           suntimes.com
4                             moe.gov.cn
..                                   ...
178         services.runescape.com-ul.cc
179                  nsu-amazon.1inc.top
180                            80fxv9.cn
181                  nsu-amazon.3inc.top
182  hmcb-crad.com-men-indxe.iilgbxka.cn

[183 rows x 1 columns]

In [14]:
tranco_rank_data

                         url
1                 google.com
2               facebook.com
3               a-msedge.net
4                youtube.com
5              microsoft.com
...                      ...
3648683  jeventanddesign.com
3648684      medi-verbund.de
3648685    stjudemedical.net
3648686      dsa-vorschau.de
3648687        smcdomain.com

[3648687 rows x 1 columns]